{% extends "base.html" %}

{% block content %}
    <h1>Wellcome to Wordplease</h1>
    <h2>Latest posts</h2>
    {% for post in posts %}
        <article>
            <header>
                <a href="{% url 'post_detail_route' post.pk %}" title="{{ post.title }}"/>
            </header>
            <body>
                <img src="{{ post.image }}" alt="{{ post.title }}" title="{{ post.title }}"/>
                <img src="{{ post.url }}" alt="{{ post.title }}" title="{{ post.title }}"/>
            </body>
            <footer>{{ post.summary }}</footer>
        </article>
    {% endfor %}
{% endblock %}