{% extends "base.html" %}

{% block head_title %}{{ post.title }}{% endblock %}
{% block content %}
    <h1>{{ post.title }}</h1>
    <article>
        <header>
            {{ post.summary }}
        </header>
        <body>
        <div>
            <img src="{{ post.image }}"/>
            <img src="{{ post.url }}"/>
        </div>
        <div>
            {{ post.post }}
        </div>
        </body>
        <footer>
            <div>
               <ul>
                    {% for category in post.category.all %}
                        <li>{{ category.name }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div>
                {{ post.release_date | date:"d-m-Y H:i" }}
            </div>

        </footer>
    </article>
{% endblock %}